.Task {
  position: absolute;
  user-select: none;
  border-radius: 3px;
  padding: 0.2em 0.4em;
  /* Warning: animating a box-shadow is bad for performance */
  /* Source: https://www.youtube.com/watch?v=NahTzBgDkTA */
  transition: box-shadow 0.4s ease, background-color 0.4s ease;

  font-size: 2em;
  line-height: 1em; /* ensure that the bounding box is not too high */
  cursor: pointer;
  white-space: nowrap;
}

.Task:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--low-contrast);
  z-index: 1;
}

.Task.Task--dragged {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}
